@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      opacity: 1;
    }
    20%, 24%, 55% {
      opacity: 0.4;
    }
    21%, 23% {
      opacity: 0.6;
    }
    26%, 52%, 56% {
      opacity: 0.8;
    }
  }
  
  .flicker {
    animation: flicker 2.0s infinite;
  }